.navigation .spinner-border {
    width: 30px;
    height: 30px;
}

.navigation .navbar-brand .d-flex {
    width: 32px;
}

.navigation .homer {
    width: 32px;
    height: 32px;
}

.navigation .navbar-brand a {
    color: #fff;
}

.navigation.navbar-light .navbar-brand a {
    color: #6c757d;
}
